.App {
  text-align: center;
}

.wraper{
  display: grid;

  grid-template-areas: "header header"
                        "nav cont"
                        "footer footer";

  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 2fr 10fr;

  margin: 0 auto;
  max-width: 1300px;
  padding: 2px;
}